Repository TeamHARA/KAERA_iOS, pull requests merged in 2023-10, with the labels that each got.

#63 [Feat] 고민작성 API 연결
  KAERA/KAERA.xcodeproj/project.pbxproj
  KAERA/KAERA/Network/APIs/WriteAPI.swift
  KAERA/KAERA/Network/Services/WriteService.swift
  KAERA/KAERA/Scenes/Archive/Model/TemplateContentModel.swift
  KAERA/KAERA/Scenes/Writing/View/ContentInfo.swift
  KAERA/KAERA/Scenes/Writing/View/TemplateContentHeaderView.swift
  KAERA/KAERA/Scenes/Writing/View/TemplateContentTV.swift
  KAERA/KAERA/Scenes/Writing/View/TemplateContentTVC.swift
  KAERA/KAERA/Scenes/Writing/View/WritePickerVC.swift
  KAERA/KAERA/Scenes/Writing/View/WriteVC.swift
Labels: ✈️ Network

#65 [Feat] 캐라 카카오 로그인 API 연결
  KAERA/KAERA.xcodeproj/project.pbxproj
  KAERA/KAERA/Network/APIs/AuthAPI.swift
  KAERA/KAERA/Network/Base/APIConstant.swift
  KAERA/KAERA/Network/Services/AuthService.swift
  KAERA/KAERA/Scenes/Auth/Model/SignInModel.swift
  KAERA/KAERA/Scenes/Auth/SignInVC.swift
  KAERA/KAERA/Scenes/Auth/View/SignInVC.swift
  KAERA/KAERA/Scenes/Auth/ViewModel/SignInViewModel.swift
Labels: 💼 Logic

#66 [Feat] 로그인 유저 정보 키체인 저장 구현
  KAERA/KAERA.xcodeproj/project.pbxproj
  KAERA/KAERA/Application/KeyChainManager.swift
  KAERA/KAERA/Network/Base/NetworkConstant.swift
  KAERA/KAERA/Scenes/Auth/View/SignInVC.swift
  KAERA/KAERA/Scenes/Auth/ViewModel/SignInViewModel.swift
  KAERA/KAERA/Scenes/Components/KaeraAlertVC.swift
  KAERA/KAERA/Scenes/Home/View/HomeWorryDetail/HomeWorryDetailFooterView.swift
  KAERA/KAERA/Scenes/Home/View/HomeWorryDetail/HomeWorryDetailVC.swift
Labels: 🖼️ UI, 💼 Logic

#70 [Feat] Firebase를 이용한 푸시 알림 구현
  KAERA/KAERA.xcodeproj/project.pbxproj
  KAERA/KAERA.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  KAERA/KAERA/Application/AppDelegate.swift
  KAERA/KAERA/Application/GoogleService-Info.plist
  KAERA/KAERA/Application/Info.plist
  KAERA/KAERA/Application/KeyChainManager.swift
  KAERA/KAERA/KAERA.entitlements
  KAERA/KAERA/Scenes/Auth/ViewModel/SignInViewModel.swift
Labels: ✈️ Network, 💼 Logic

#68 [Feat] 고민 삭제 API 연결
  KAERA/KAERA/Network/APIs/HomeAPI.swift
  KAERA/KAERA/Network/Base/GeneralResponse.swift
  KAERA/KAERA/Network/Services/HomeService.swift
  KAERA/KAERA/Scenes/Home/View/HomeWorryDetail/HomeWorryDetailVC.swift
  KAERA/KAERA/Scenes/Home/View/HomeWorryDetail/HomeWorryEditVC.swift
  KAERA/KAERA/Scenes/Writing/View/WriteModal/WriteModalVC.swift
Labels: ✈️ Network

#76 [Feat] 데드라인 수정 API 연결
  KAERA/KAERA/Network/APIs/HomeAPI.swift
  KAERA/KAERA/Network/Services/HomeService.swift
  KAERA/KAERA/Scenes/Home/Model/WorryDetailModel.swift
  KAERA/KAERA/Scenes/Home/View/HomeVC.swift
  KAERA/KAERA/Scenes/Home/View/HomeWorryDetail/HomeWorryDetailVC.swift
  KAERA/KAERA/Scenes/Home/View/HomeWorryDetail/HomeWorryEditVC.swift
  KAERA/KAERA/Scenes/Writing/View/WritePickerVC.swift
  KAERA/KAERA/Scenes/Writing/View/WriteVC.swift
Labels: ✈️ Network, 💼 Logic
